---

# Instalando o Oracle Virtualbox

- name: Removendo dependencias antigas do Virtualbox (openSUSE Leap)
  when: ansible_distribution == "openSUSE Leap"
  shell: "zypper -n rm virtualbox-guest-kmp-default virtualbox-guest-tools"
  ignore_errors: yes 
  args:
    warn: false
  become: true
  tags:
    - virtualbox

- name: Instalando as dependencias do Oracle Virtualbox
  zypper:
    name: "{{ pacotes_virtualbox }}"
    state: present
    force: yes
    update_cache: yes
  become: true
  tags:
    - virtualbox

- name: Adicionando reposit처rio do Oracle VirtualBox (openSUSE Leap abaixo da vers찾o 15)
  when: ansible_distribution == "openSUSE Leap" and not ansible_distribution_major_version == "15"
  get_url:
    url: http://download.virtualbox.org/virtualbox/rpm/opensuse/virtualbox.repo
    dest: /etc/zypp/repos.d/virtualbox.repo
  become: true
  tags:
    - virtualbox

- name: "Adicionando reposit처rio do Oracle VirtualBox (openSUSE Tumbleweed ou Leap 15)"
  when: ansible_distribution == "openSUSE Tumbleweed" or ansible_distribution_major_version == "15"
  template:
    src: virtualbox_suse.repo.j2
    dest: /etc/zypp/repos.d/virtualbox.repo
    owner: root
    group: root
    mode: 0644
  become: true
  tags:
    - virtualbox

- name: Copiando arquivo libvpx4-1.6.1-lp150.3.6.x86_64.rpm (openSUSE Tumbleweed)
  when: ansible_distribution == "openSUSE Tumbleweed"
  copy:
    src: "libvpx4-1.6.1-lp150.3.6.x86_64.rpm"
    dest: "/tmp/libvpx4-1.6.1-lp150.3.6.x86_64.rpm"
    owner: root
    group: root
    mode: 0644
  become: true
  tags:
    - virtualbox

- name: Instalando a dependencia libvpx4-1.6.1-lp150.3.6.x86_64.rpm do Oracle Virtualbox (openSUSE Tumbleweed)
  when: ansible_distribution == "openSUSE Tumbleweed"
  zypper:
    name: "/tmp/libvpx4-1.6.1-lp150.3.6.x86_64.rpm"
    state: present
    force: yes
    update_cache: yes
    oldpackage: yes
    disable_recommends: no
    disable_gpg_check: yes
  become: true
  tags:
    - virtualbox

- name: Instalando o Oracle Virtualbox
  zypper:
    name: "VirtualBox-{{ virtualbox_version }}"
    state: present
    force: yes
    update_cache: yes
    disable_gpg_check: yes
  become: true
  notify:
    - Adicionando usuario ao grupo 'vboxusers'
  tags:
    - virtualbox

- name: Configurando os m처dulos do kernel Linux para o Oracle VirtualBox
  command: "/usr/lib/virtualbox/vboxdrv.sh setup"
  become: true
  tags:
    - virtualbox

# Instalando o Vagrant

- name: Instalando o Vagrant
  zypper:
    name: "https://releases.hashicorp.com/vagrant/{{ vagrant_version }}/vagrant_{{ vagrant_version }}_{{ ansible_architecture }}.rpm"
    state: present
    disable_gpg_check: yes
  become: true
  tags:
    - vagrant
    - virtualbox